<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<html>
    <head>
        <title>meu contato com programação, css</title>
    </head>
    <body>
        <div class="titulo" style="background-color: aqua; color: brown; text-align: center;">

                    <h1>meu primeiro contato com programação</h1>
        </div>            

        <div class="titulo1" style="background-color:navy ; color: rosybrown ; text-align: center;">
       <h2>meu contato na área de programação ainda é breve, comecei no ano de 2020 no IFSC-campus palhoça bilingue</h2>
        </div>
    <div class="titulo2" style="background-color: palegreen; color: palevioletred; text-align: center;">
    <h3>no caso foi com a matéria de algoritmo do primeiro semestre do curso de produção multimídia</h3>
    <img src="IFSC Palhoça.jpg">

<style>
    p{
        color: aqua; background-color: brown;
        text-align: center; font-family: cursive; font-size: larger;
    }
    
</style>
<p>meu contato com programação porém foi breve devido ao curso ser trancado questão de semanas depois da pandemia do covid-19 ter começado</p>
 
    </body>
    </html>
    <a href="/Where">visitar "onde eu estudei"</a>