<!DOCTYPE html>
<html>
    <head>
        
     <title>minha vida </title>
     
    </head>  
    <body>
        <div class="conteudo"; style="background-color: brown; color: cornsilk;text-align: center;">

        <h1>onde eu vivo?</h1>
        </div>
        <div class="titulo1" style="background-color: crimson; color: goldenrod; text-align: center;">
         <h4>popularmente conhecida como ilha da magia</h4>
         <style>
            p{
                color: khaki ; background-color: hotpink;
                text-align: center; font-family: cursive; font-size: larger;
            }
            
        </style>
         <img src="floripa.jpg">
         <p>a capital de santa catarina possui esse apelido carinhoso devido a forte influência de bruxaria nos contos do folclore local   
         </p>
    </body>
</html>
<a href="/">visitar "meu primeiro contato com programação</a>