<!DOCTYPE html>
<html>
    <head>
        <title>minha vida</title>
    </head>
    <body>
        <div class="titulo" style="background-color: rgb(179, 37, 37); color: rgb(208, 228, 29); text-align: center;">
    <h1>minha vida</h1>
        </div>
        <div class="titulo1" style="background-color: goldenrod; color: dimgray;text-align: center;">
    <h2>ou algumas coisas sobre mim</h2>
        </div>
        <div class="titulo2" style="background-color: slateblue; color: fuchsia; text-align: center;">
    <h3>onde eu estudei?</h3>
    <img src="Iee.jpg">

    <style>
        p{
            color: orange; background-color: olivedrab;
            text-align: center; font-family: cursive; font-size: larger;
        }
        
    </style>

<p>dentre as diversas escolas em que eu estudei, a que mais marcou minha vida, e vale a pena mencionar foi o instituto estadual de educação

</p>


    </body>
    
   
</html>
<a href="/Fpolis">visitar "onde eu moro?"</a>
